.lightBg {
  background-color: #bbdefb;
}

.darkBg {
  background-color: #3d3e49;
}

.proImg {
  margin-top: 10px;
  margin-left: 50px;
}

.aboutMe {
  padding-top: 1.5rem;

  color: aliceblue;
}

.whoIsMe {
  padding: 50px;
}
